<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@michaelpanik">

    <!--Description-->
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (page.excerpt){ %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } %>

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <!--Open Graph Title-->
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } %>

    <!--Open Graph Site Name-->
    <meta property="og:site_name" content="<%= config.title %>"/>

    <!--Page Cover-->
    <% if(page.cover) { %>
        <meta property="og:image" content="<%= url_for(page.cover) %>" />
    <% } else { %>
        <meta property="og:image" content="<%= url_for(theme.cover)  %>"/>
    <% } %>

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="TCz7MCJfA--eIr1D0KXCgn7c6mwkJXFx_jaFKUQRVAI" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#61e2c4">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#61e2c4">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Title -->
     <%
        var title = [];
        if (page.current > 1) title.push(__('page', page.current));
        if (page.title) title.push(page.title);
        if (page.category) title.push(page.category);
        if (page.tag) title.push(page.tag);
        if (page.archive) {
            if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
            else title.push(__('archive_a'));
        }
        title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Michael Panik",
        "url": "https://michael-panik.com",
        "logo": "https://michael-panik.com/img/logo.png",
        "sameAs": [
            "http://facebook.com/michaelpanik",
            "http://twitter.com/michaelpanik",
            "http://instagram.com/frontend.io",
            "http://linkedin.com/in/michaelpanik",
            "http://github.com/michaelpanik"
        ]
    }
    </script>
    
    <!-- TypeKit Fonts -->
    <script>
        (function (d) {
            var config = {
                kitId: 'iaq3gmc',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>

    <!-- Theme CSS -->
    <%- css('css/main.min.css') %>
    <!-- <%- css('css/reset.css') %>
    <%- css('css/typography.css') %>
    <%- css('css/atom-one-dark.css') %> -->
    <%- css('https://use.fontawesome.com/releases/v5.3.1/css/all.css') %>

</head>
