<div class="social-share">
    <a
        href="https://twitter.com/intent/tweet?text=<%- title %>%0A%0A&url<%- url %>&via=michaelpanik" 
        target="_blank"
        rel="noreferrer nofollow"
        class="social-share__link social-share__link--twitter"><i class="fab fa-twitter"></i></a>
    <a
        href="https://www.facebook.com/sharer/sharer.php?u=<%- url %>&title=<%- title %>" 
        target="_blank"
        rel="noreferrer nofollow"
        class="social-share__link social-share__link--facebook"><i class="fab fa-facebook-f"></i></a>
    <a
        href="http://www.linkedin.com/shareArticle?mini=true&url=<%- url %>&title=<%- title %>" 
        target="_blank"
        rel="noreferrer nofollow"
        class="social-share__link social-share__link--linkedin"><i class="fab fa-linkedin-in"></i></a>
    <a
        href="http://www.reddit.com/submit?url=<%- url %>&title=<%- title %>" 
        target="_blank"
        rel="noreferrer nofollow"
        class="social-share__link social-share__link--reddit"><i class="fab fa-reddit-alien"></i></a>
    <a
        href="mailto:?body=<%- title %> (<%- url %>)" 
        target="_blank"
        rel="noreferrer nofollow"
        class="social-share__link social-share__link--email"><i class="fas fa-envelope"></i></a>
</div>