<article class="page">
    <h1><%- page.title %></h1>
    <%- page.content %>
</article>

<script type="application/ld+json">
    {
        "@context": "http://schema.org", 
        "@type": "TechArticle",
        "headline": "<%- page.title %>",
        "proficiencyLevel": "Intermediate",
        <% if (page.cover){ %>
        "image": "<%= page.cover %>",
        <% } %>
        "author": "Michael Panik", 
        "genre": "frontend development", 
        "keywords": "<%- page.keywords %>",
        "publisher": "Michael Panik",
        "url": "https://www.michael-panik.com",
        "datePublished": "<%- page.date %>",
        "dateCreated": "<%- page.date %>",
        "dateModified": "<%- page.date %>",
        <% if (page.description){ %>
            "description": "<%= page.description %>"
        <% } else if (page.excerpt){ %>
            "description": "<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>"
        <% } else if (page.content){ %>
            "description": "<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>"
        <% } else if (config.description){ %>
            "description": "<%= config.description %>"
        <% } %>
    }
</script>