<%- partial('_partial/post-header', {
    title: page.title,
    url: url,
    image: page.image,
    date: page.date
}) %>
<article class="page blog-post">
    <%- page.content %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Blog Footer -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6670259815677604"
        data-ad-slot="6131972276"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <footer>
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
                this.page.url = "<%- url %>";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "<%- page.path %>_<%- page.date %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://michael-panik.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </footer>
</article>

<script type="application/ld+json">
    {
        "@context": "http://schema.org", 
        "@type": "TechArticle",
        "headline": "<%- page.title %>",
        "proficiencyLevel": "Intermediate",
        <% if (page.cover){ %>
        "image": "<%= page.cover %>",
        <% } %>
        "author": "Michael Panik", 
        "genre": "frontend development", 
        "keywords": "<%- page.keywords %>",
        "publisher": "Michael Panik",
        "url": "<%- url %>",
        "datePublished": "<%- page.date %>",
        "dateCreated": "<%- page.date %>",
        "dateModified": "<%- page.date %>",
        <% if (page.description){ %>
            "description": "<%= page.description %>"
        <% } else if (page.excerpt){ %>
            "description": "<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>"
        <% } else if (page.content){ %>
            "description": "<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>"
        <% } else if (config.description){ %>
            "description": "<%= config.description %>"
        <% } %>
    }
</script>